In [1]:
import abraxos
import pydantic
import pandas as pd

In [6]:
class XY(pydantic.BaseModel):
    x: int
    y: int

In [7]:
df = pd.DataFrame(
    {
        'x': [1, 2, 3, 4],
        'y': [None, 22, None, 44]
    }
)
df

   x     y
0  1   NaN
1  2  22.0
2  3   NaN
3  4  44.0

In [8]:
result = abraxos.validate(df, XY)
result.success_df

   x   y
1  2  22
3  4  44

In [9]:
result.errored_df

     x   y
0  1.0 NaN
2  3.0 NaN

In [11]:
result.errors

[1 validation error for XY
 y
   Input should be a valid integer [type=int_type, input_value=None, input_type=NoneType]
     For further information visit https://errors.pydantic.dev/2.10/v/int_type,
 1 validation error for XY
 y
   Input should be a valid integer [type=int_type, input_value=None, input_type=NoneType]
     For further information visit https://errors.pydantic.dev/2.10/v/int_type]

In [14]:
pd.concat([result.errored_df, result.success_df], ignore_index=True)

     x     y
0  1.0   NaN
1  3.0   NaN
2  2.0  22.0
3  4.0  44.0