In [12]:
import pandas as pd
import numpy as np


def split_df(
    df: pd.DataFrame,
    i: int = 2
) -> tuple[pd.DataFrame, ...]:
    return tuple(np.array_split(df, i))

In [13]:
df = pd.DataFrame(
    {
        'x': range(10),
        'y': range(10)
    }
)
df

   x  y
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6
7  7  7
8  8  8
9  9  9

In [16]:
split_df(df, 2)

/Volumes/Extra Storage/coding/abraxos/.venv/lib/python3.12/site-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

(   x  y
 0  0  0
 1  1  1
 2  2  2
 3  3  3
 4  4  4,
    x  y
 5  5  5
 6  6  6
 7  7  7
 8  8  8
 9  9  9)